/* color */
$text-brightBg: #fff;
$text-lightBg: #000;
$main-color: #595cff;
<<<<<<< HEAD
$secondary-color: #8c8eff;
$border-light: #e6e6eb;
$border-pale-grey: #f0f0f5;
=======
$border-light: #e6e6eb;
$text-ultraLight: #afb1bd;
>>>>>>> main

/* font */
$root-font-size: 16;

/* borders */
$main-radius: 4px;
<<<<<<< HEAD
$input-radius: 6px;
=======

/* background */
$footer-background: #f9f9fb;
$footer-border: rgba(175, 177, 189, 0.2);

/* width */
$main-width: 1440;
$center-width: 1160;
>>>>>>> main
