/* color */
$text-brightBg: #fff;
$text-lightBg: #000;
$main-color: #595cff;
$border-light: #e6e6eb;
$text-ultraLight: #afb1bd;

/* font */
$root-font-size: 16;

/* borders */
$main-radius: 4px;
$percent-radius: 50%;

/* background */
$footer-background: #f9f9fb;
$footer-border: rgba(175, 177, 189, 0.2);
$input-background: #f0f0f5;

/* width */
$main-width: 1440;
$center-width: 1160;
