/* color */
$text-brightBg: #fff;
$text-lightBg: #000;
$main-color: #595cff;
$secondary-color: #8c8eff;
$border-light: #e6e6eb;
$border-pale-grey: #f0f0f5;

/* font */
$root-font-size: 16;

/* borders */
$main-radius: 4px;
$input-radius: 6px;
