@use "./src/assets/scss/variables" as variable;
@use "./src/assets/scss/mixins" as mixin;
@use "./src/assets/scss/functions" as function;

:host {
  width: 23%;
  min-width: 200px;
  margin-right: 2%;
  margin-bottom: 20px;
}

.socialMediaBlock {
  width: 100%;

  & h2 {
    @include mixin.textView(
      variable.$text-lightBg,
      function.calcFont(16, variable.$root-font-size),
      function.calcLineHeight(24, 16),
      false,
      capitalize
    );
    font-weight: normal;
    margin-bottom: 14px;
  }

  & > a {
    display: inline-block;
    @include mixin.textView(
      variable.$text-lightBg,
      function.calcFont(12, variable.$root-font-size),
      function.calcLineHeight(18, 12),
      false,
      none
    );
    text-decoration: none;
    margin-bottom: 18px;

    &:hover {
      color: variable.$main-color;
    }
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    min-width: 200px;
    list-style-type: none;

    & li {
      margin: 0 20px 18px 0;

      & a {
        display: inline-block;
        max-width: 20px;
        height: auto;

        & img {
          display: inline-block;
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
